*{
    margin: 0;
    padding: 0;
} 
body{
    background-color: #eee;
} 
/* Start The Left sec  */

.left{
    width: 30%;
    height: 370px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow:0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: 130px 0 0 100px;
}
/* Stert form */

.form{
    width: 95%;
    height: 50px;
    text-align: right;
    margin: 10px auto 0;
    border-color: #afc1d4;
    border-width: 1px;
    border-radius: 5px;

}
.form2{
    width: 95%;
    height: 50px;
    text-align: right;
    margin: 0 auto;
    border-color: #afc1d4;
    border-width: 1px;
    border-radius: 5px;

}
.submit{
    width: 95%;
    height: 50px;
    text-align: center;
    background-color: #1b5a98;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 18px;
}
.left form a{
    text-decoration: none;
    display: block;
    margin: 20px;
    margin-top: 15px;
    text-align: center;
    color: #5896d8;
    font-size: 13px;
}
hr{
    width: 95%;
    margin: auto;
    color: #afc1d4;
}
.left form .submit2{
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #2dbe25;
    color: #fff;
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 900;
}

/* End The Left sec */
/* Start The right sec */
.right{
    float: right;
    width: 21%;
    text-align: center;
    border-radius: 5px;
    margin: 200px 200px 0;

}
.right h1{
    color: #1b5a98;
    font-size: 70px;
    text-align: right;
}
.right p{
    text-align: right;
    font-size: 18px;
}
/* End The right sec */
.clear{
    clear: both;
}
.p{
    margin: 20px;
    width: 40%;
    text-align: center;
    font-size: 12px;
}
span{
    font-weight: 600;
}
.ahmed{
    text-decoration: none;
    color: #000;
}